@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";



@theme{

  /* fonts */
  --font-Poppins: "Poppins", sans-serif;

  /* colors */
  --color-brand: #00A4F2;
  --color-primary: #444444;
  --color-secondery: #777777;

}

/* container */
@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }
}


/* common css */
.cmnBtn{
  @apply py-4 font-semibold text-[12px] leading-[18px] uppercase text-white bg-brand   
}